# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
CLAUDE.md

# Files from Forge MDK
forge*changelog.txt

# Aux repos
/REGIONS_UNEXPLORED_FORGE/
/SereneSeasons/